# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

#Models and data
Model/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Logs
*.log

